<h1>How's The G?</h1>
<p>How's The G? lets you rate, comment, and see what other people think about the cafeteria's food.</p>
<div id="homeSignIn"></div>
<div class="row center">
    <div class="col-md-7" ng-controller="voteController">
        <h3>Vote</h3>
        <div id="count"></div>
        <span style="font-size:24pt">
        <a href="javascript:void(0)" id="vote_1" ng-click="sendVote(1)" class="star notVoted"><i class="fa fa-star-o" aria-hidden="true"></i></a>
        <a href="javascript:void(0)" id="vote_2" ng-click="sendVote(2)" class="star notVoted"><i class="fa fa-star-o" aria-hidden="true"></i></a>
        <a href="javascript:void(0)" id="vote_3" ng-click="sendVote(3)" class="star notVoted"><i class="fa fa-star-o" aria-hidden="true"></i></a>
        <a href="javascript:void(0)" id="vote_4" ng-click="sendVote(4)" class="star notVoted"><i class="fa fa-star-o" aria-hidden="true"></i></a>
        <a href="javascript:void(0)" id="vote_5" ng-click="sendVote(5)" class="star notVoted"><i class="fa fa-star-o" aria-hidden="true"></i></a>
    </span>
</div>
<div ng-controller="commentsController" class="col-md-5">
    <div class="center">
        <h3>Comments</h3>
        <form>
        <input type="text" id="userComment"></input>
    <input type="submit" value="Send comment" id="sendComment" ng-click="sendComment()"/>
</form>
</div>
<p class="comment" ng-repeat="comment in comments | reverse">
    <a data-toggle="modal" data-target="#userModal" ng-click="showUser(comment.username)" href="javascript:void(0)">{{ comment.username }}</a> -  {{ comment.text }} (<span title="{{comment.timesent}}">{{ comment.timesent | beautifyTime }}</span>)
</p>
<div class="modal fade" id="userModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">User - {{ profile.username }}</h4>
            </div>
            <div class="modal-body">
                <p>Number of ratings: {{ profile.numRatings }} </p>
                <p>Number of comments : {{ profile.numComments }} </p>
            </div>
        </div>
    </div>
</div>
</div>
</div>
