<p style="text-align:center">How's The G? lets you rate, comment, and see what other people think about the cafeteria's food.</p>
<div class="row">
    <div class="col-md-7 center" ng-controller="voteController">
        <h3>Vote</h3>
        <div id="count"></div>
        <input type="text" id="rating"></input>
    <button id="sendVote">Send vote</button>
</div>
<div ng-controller="commentsController" class="col-md-5">
    <div class="center">
        <h3>Comments</h3>
        <input type="text" id="userComment"></input>
    <button id="sendComment" ng-click="sendComment()">Send comment</button>
</div>
<p class="comment" ng-repeat="comment in comments | reverse"> 
    {{ comment.username }} -  {{ comment.text }} ({{ comment.timesent }})
</p>
</div>
</div>
