body {
    font-family: 'Lato', sans-serif;
}
.container-fluid {
    margin: auto;
    width: 64%;
}
.navbar-header {
    padding-left: 6px;
}
p {
    margin-left: 5px;
    text-indent: 1em;
}
.name {
    font-size: 19pt;
}
.commenttext {
     
}
